<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated forsyde -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="forsyde.presentation.ForsydeModelWizardID"
            name="%_UI_ForsydeModelWizard_label"
            class="forsyde.presentation.ForsydeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ForsydeModelFile.gif">
         <description>%_UI_ForsydeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated forsyde -->
      <editor
            id="forsyde.presentation.ForsydeEditorID"
            name="%_UI_ForsydeEditor_label"
            icon="icons/full/obj16/ForsydeModelFile.gif"
            extensions="forsyde"
            class="forsyde.presentation.ForsydeEditor"
            contributorClass="forsyde.presentation.ForsydeActionBarContributor">
      </editor>
   </extension>

</plugin>
