<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="se.kth.ict.forsyde.design.Activator"
               id="se.kth.ict.forsyde.design"
	       name="forsyde">
    </component>
  </extension>
</plugin>
