<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated forsyde -->
      <package
            uri="http://forsyde.ict.kth.se/core/forsyde"
            class="forsyde.ForsydePackage"
            genModel="forsyde.genmodel"/>
   </extension>

</plugin>
